<html lang="English">
<head>
	<title>Example Page</title>
	<meta charset="utf-8" name='description' content="This is the description of your website.">
	<link rel="stylesheet" href="css/screen.css">
</head>

<body>
	<div class="container">
		<header>
			<h1>Example Webpage!</h1>
			<h2>Slogan of the website</h2>

			<nav class="site-nav">
				<ul class="group">
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Alpha Blog', articles_path %></li>
					<li><%= link_to 'About', about_path %></li>
				</ul>
			</nav>

		</header>

		<article>
			<header>
				<h2>Article #1</h2>
				<p>Published on Feb.11, 2016</p>
			</header>

			<!-- This is where the main text of the article begins -->
			<div class="article-body">
				<p>Learn how <span class="brand-color">html</span> works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum. </p>

				<p>Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum. </p>
			</div><!-- /article-body -->

			<footer>
				<p>Posted in the News category with 105640654 comments.</p>
			</footer>

			</article>

		<article>
			<header>
				<h2>Article #2</h2>
			</header>
			<div class="article-body">
				<p class="highlight">Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum.
				Learn how html works lorum ipsum lorum ipsum lorum ipsum lorum ipsum. </p>
			</div><!-- /article-body -->

			<aside>
			<h3>Schedule</h3>
			<ol>
				<li>Wake up</li>
				<li>Go to work</li>
				<li>Go home</li>
				<li>Bedtime</li>
			</ol>
			</aside>

		<footer>
			<p>&copy; 2016 - The footer of the website</p>
			<p class="highlight">All rights reserved.</p>
		</footer>
	</div><!-- /container for body -->
</body>

</html>
